.container {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    background: var(--secondary-gradient, linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%));
    overflow-x: hidden;
}

.container-form {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    width: 583px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white, #FFFFFF);
    border-radius: 4px;
}

.login-title {
    width: 523px;
    margin-bottom: 10px;
    text-align: left;
    color: var(--dark-gray, #1F1F1F);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
}

.login-subtitle {
    color: var(--dark-gray-2, #474747);
    margin-bottom: 30px;
    text-align: left;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.input {
    width: 100%;
    max-width: 523px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--dark-gray-, #f2f1f1);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    padding: 0 16px;
    gap: 10px;
    overflow: visible;
    
}

.input:focus {
    background: var(--dark-gray-1, #d1d1d1);
}

::placeholder {
    color: var(--white, #FFFFFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
}


.button {
    width: 523px;
    height: 48px;
    margin-top: 15px;
    background: var(--primary-dark, #C92071);
    border: none;
    border-radius: 8px;
    color: var(--white, #FFFFFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: var(--Tertiary, #991956);
}

.container-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 15px;
}

.login-separator {
    color: var(--dark-gray-2, #474747);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.social {
    display: inline-flex;
    gap: 10px;
}


.container-image1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-top: 0px;
    top: 10rem;
    margin-right: 22rem;
    width: 256px;
    height: 483px;
    transform: rotate(-5deg);
    transform-origin: 0% 0%;
    flex-shrink: 0;
    background: url('../../assets/images/rizenproc.png') no-repeat;
    z-index: 100;
}

/* .container-image2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-top: 70px;
    top: 10rem;
    margin-right: 6rem;
    width: 252px;
    height: 515px;
    flex-shrink: 0;
    background: url('../../assets/images/rizenproc.png') no-repeat;
} */