/* ProductListing Component Styles */

.product-listing-container {
  column-count: 3;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: auto;
  overflow-y: hidden;
  justify-content: space-around;  
  
  background-color: var(--background-color);
}

/*.content-limit {


}*/

@media (max-width: 1400px) {
  .product-listing-container {
    gap: 20px;
  }
}

@media (max-width: 460px) {
  .product-listing-container {
    gap: 15px;
    justify-content: space-around;
  }
}
